<!-- Cookie message - LOADED IN by javascript so not in DOM source for bots and can be asynced -->
<div id="statements" class="gutter-set"></div>

<!-- Browser version message - if less than IE9 --> 
<!--[if lt IE 9]>
<link rel="stylesheet" href="css/ie8.css">
<style type="text/css">
body .browserupgrade { background-color: #FFFFFF; color: #000000; padding: 1em; line-height: 1.3em }
</style>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. 
Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Message to user that JavaScript recommended - different usage from <noscript> -->
<div class="noscript gutter-set">     
<p>Features on this site require JavaScript. Please use a browser that has JavaScript enabled to get the best user experience.</p>
</div>

<!-- Skip actions - delay load -->
<div class="gutter-set">
<a href="#main" class="skip hidden" >Skip to Main Content</a>
<a href="/accessiblity" class="skip hidden">Site accessibility statement</a>
</div>